/deep/::-webkit-scrollbar {
  width: 3px;
}

/deep/::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #ff55a5 0%, #ff5860 100%);
}


/deep/.card {
  background-color: transparent !important;
}

/deep/.card__title {
  text-transform: capitalize;
}

/deep/.card__title a {
  white-space: normal;
}

/deep/.del,
/deep/.up {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 5px;
}


/deep/.del {
  top: 45px;
}


/deep/.up {
  top: 10px;
}

/deep/.del img,
/deep/.up img {
  height: 30px;
  width: 30px;
  opacity: 0.5;
  cursor: pointer;
  transition: 1s;
}

/deep/.del img:hover,
/deep/.up img:hover {
  opacity: 0.8;
}

/deep/ .col-6 {
  margin: 5px;
  padding: 10px 10px;
  box-shadow: 0 5px 25px 0 #00000070;
  max-width: 48%;
  padding-right: 35px;
}

/deep/.col-lg-3 {
  margin: 5px;
  padding: 10px 10px;
  box-shadow: 0 5px 25px 0 #00000070;
}

/deep/.card__cover,
/deep/.card__cover img,
/deep/ .row {
  height: 100% !important;
}

/deep/ .card,
/deep/ .card--list {
  border: none;
  height: 100%;
  margin-bottom: 0;
}

@media screen and (max-width: 575px) {

  /deep/.del {
    bottom: 15px;
    top: unset;
  }

  /deep/.up {
    bottom: 75px;
    top: unset;
  }

  /deep/ .col-6 {
    padding-right: 0px;
  }


}
