
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<body *ngIf="actionn" class="bk">

  <app-header></app-header>

  <mat-progress-bar mode="indeterminate" *ngIf='refresh' ></mat-progress-bar >

    <ejs-schedule class="aff" width='70%' height='500px'[eventSettings]='eventSettings'>
      <ng-template #editorTemplate let-data >
        <table class="custom-event-editor" width="100%" cellpadding="5">
            <tbody>
                <tr>
                    <td class="e-textlabel">note</td>
                    <td colspan="4">
                        <input id="Subject" class="e-field e-input" type="text" value="{{data.Subject}}" name="Subject" placeholder="qdqds" style="width: 100%" />
                    </td>
                </tr>
                <tr>
                    <td class="e-textlabel">Film</td>
                    <td colspan="4">
                      <tr>

                           <ejs-dropdownlist id="Status" class="e-field" data-name="Status" [dataSource]="StatusData" [fields]="StatusFields" value="{{data.Status}}"></ejs-dropdownlist>

                    </tr>
                    </td>
                </tr>
                <tr>
                  <td class="e-textlabel">From</td>
                  <td colspan="4">
                    <ejs-datetimepicker  id="StartTime" class="e-field" data-name="StartTime" format="M/dd/yy h:m a" [value]='dateParser(data.startTime || data.StartTime)' ></ejs-datetimepicker>
                  </td>
              </tr>
              <tr>
                  <td class="e-textlabel">To</td>
                  <td colspan="4">
                    <ejs-datetimepicker  id="EndTime" class="e-field" data-name="EndTime" format="M/dd/yy h:m a"  [value]='data.EndTime' ></ejs-datetimepicker>
                  </td>
              </tr>



            </tbody>
        </table>
    </ng-template>

    </ejs-schedule>

<div class="global">
<div class="bk2">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navi" style="background-color:  #ffe6e6;">
      <a class="navbar-brand" href="#">Select :</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >

          <li>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" class="custom-control-input" id="defaultInline1" name="salle" (change)="select_salle($event)" value="1">
              <label class="custom-control-label" for="defaultInline1">Salle 1</label>
            </div>
        </li>

        <li >
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline2" name="salle" (change)="select_salle($event)" value="2">
            <label class="custom-control-label" for="defaultInline2">Salle 2</label>
          </div>
        </li>

        <li >
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline3" name="salle" (change)="select_salle($event)" value="3">
            <label class="custom-control-label" for="defaultInline3">Salle 3</label>
          </div>
        </li>

        <li >
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline4" name="salle" (change)="select_salle($event)" value="4">
            <label class="custom-control-label" for="defaultInline4">Salle 4</label>
          </div>
        </li>

        <li >
          <div class="custom-control custom-radio custom-control-inline">
            <input type="radio" class="custom-control-input" id="defaultInline5" name="salle" (change)="select_salle($event)" value="5">
            <label class="custom-control-label" for="defaultInline5">Salle 5</label>
          </div>
        </li>

        </ul>

      </div>
    </nav>
</div>


<button class="btn btn-danger btn btn-primary btn-lg bttn" (click)="cliquer()">Save changes</button>


</div>


          <!-- <form class="form-inline my-2 my-lg-0">

          <button class="btn btn-outline-danger btn-lg my-2 my-sm-0" type="submit">Search</button>
        </form> -->

    <!-- <mat-progress-spinner *ngIf='refresh'
    class="example-margin"
    color="warn"
    mode="indeterminate"
    value=50
    diameter= 300
    strokeWidth= 5>
</mat-progress-spinner> -->




</body>
